@tailwind base;
@tailwind components;
@tailwind utilities;

/* sidebar css  */
.sidebar-item :hover {
  opacity: 0.8;
  cursor: pointer;
  color: cyan;
}
.selected-item {
  color: cyan;
}

/* Customize scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* Background color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the handle */
  border-radius: 4px; /* Rounded corners of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle on hover */
}
